.container {
  gap: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.card {
  border: 1px solid rgba(251, 251, 251);
  box-shadow: 0px 6px 10px lightgray;
  transition: 0.2s ease-out;
  justify-content: center;
  border-radius: 4px;
  width: 280px;
  margin: 10px;
}

.card img {
  width: 280px;
  display: block;
  position: static;
  text-align: center;
}

.card:hover {
  background: whitesmoke;
  box-shadow: 0px 10px 30px lightgray;
  transition: 1s ease;
  color: darkslategray;
}

.card p {
  display: block;
  padding-top: 5px;
  padding-left: 10px;
  font-weight: 600;
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.card span {
  color: blue;
  padding: 5px;
  font-size: 10px;
}

.card h3 {
  text-align: center;
  color: rgb(6, 96, 6);
  padding: 5px;
}

.card div.align-btn {
  text-align: center;
}

.card button {
  border-color: rgba(110, 0, 0, 0.9);
  color: rgba(110, 0, 0, 0.9);
  background-color: white;
  margin-bottom: 20px;
  margin-left: 50px;
}

.card button:hover {
  /* border-color: yellow; */
  color:white;
  background-color:rgba(110, 0, 0, 0.9);
  transform: scale(1.15);
}

.card button:active {
  color: white;
  background-color: rgb(93, 0, 0);
}

.card-button {
  text-align: center;
}

.description {
  border: 1px solid rgba(251, 251, 251);
  box-shadow: 0px 6px 10px lightgray;
  transition: 0.2s ease-out;
  justify-content: center;
  border-radius: 4px;
  width: 280px;
  margin: 10px;
}

.description-block img {
  width: 400px;
}

.description-block {
  display: inline-flex;
  padding-left: 50px;
}

.detail{
  padding: 20px;
}

.detail p{
  font-size: 20px;
  font-style: italic;
}

.detail h4 {
  font-size: 25px;
  color: rgb(14, 14, 128);
}

.addCart {
  text-align: center;
}

.addCart span {
  margin-left: 2%;
  font-size: 20px;
}

.addCart button{
  border-color: rgba(110, 0, 0, 0.9);
  color: rgba(110, 0, 0, 0.9);
  background-color: white;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 1em;
}

.addCart button:hover {
  color:white;
  background-color:rgba(110, 0, 0, 0.9);
  transform: scale(1.15);
}

.addCart button:active {
  color: white;
  background-color: rgb(93, 0, 0);
}