.navbar {
    padding: 4px;
    display: flex;
    position: sticky;
    color: whitesmoke;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(54, 2, 2);
}

.logo {
    font-size: 20px;
    width: 40px;
}

.menu {
    display: flex;
    gap: 0.2em;
    font-size: 16px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.nav-links a:hover {
    color: red
}

.nav-links li {
    list-style-type: none;
}

.menu li {
    padding: 5px 14px;
}

.services {
    /* DROPDOWN MENU */
    position: relative;
}

.dropdown {
    background-color: rgb(54, 2, 2);
    padding: 1em 0;
    position: absolute;
    display: none;
    top: 40px;
}

.dropdown li+li {
    margin-top: 10px;
}

.dropdown li {
    width: 8em;
    padding: 0.5em 1em;
    text-align: center;
}

.dropdown li:hover {
    background-color:rgb(54, 2, 2);
    ;
}

.services:hover .dropdown {
    display: block;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

@media (max-width: 780px) {
    .menu {
        transition: 0.3s ease;
    }

    .menu li {
        padding: 5px 13px;
    }

    .logo {
        transition: 0.3s ease;
        font-size: 2em;
    }
}

@media (max-width: 744px) {
    .menu {
        transition: 0.3s ease;
    }

    .menu li {
        padding: 5px 12px;
    }

    .logo {
        transition: 0.3s ease;
        font-size: 1.9em;
    }
}

@media (max-width: 694px) {
    .menu {
        transition: 0.3s ease;
    }

    .menu li {
        padding: 5px 11px;
    }

    .logo {
        transition: 0.3s ease;
        font-size: 1.85em;
    }
}

@media (max-width: 650px) {
    .menu {
        transition: 0.3s ease;
    }

    .menu li {
        padding: 5px 10px;
    }

    .logo {
        transition: 0.3s ease;
        font-size: 1.8em;
    }
}

@media (max-width: 610px) {
    .menu {
        display: none;
        position: absolute;
        background-color: rgb(93, 0, 0);
        right: 0;
        left: 0;
        text-align: center;
    }

    .menu li:hover {
        display: inline-block;
        /* background-color: whitesmoke; */
        color: rgb(54, 2, 2);
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        left: 50%;
        top: -10px;
        transform: translateX(35%);
    }

    .dropdown li:hover {
        background-color: #460202;
        ;
    }
}